html,body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Global Class */

a {
    text-decoration: none;
}

/* End Global Class */


/* Navbar */
.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 40vh;
    overflow: hidden;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
}

/* End Navbar */